body         { 
                background-image: url("../img/back.jpg");
                background-size: cover;
                background-attachment: fixed;
                background-position: center center;
                color : #333333 ;
                margin-top : 0px;
                }
.cs10{
        font-size: 14pt;
        line-height: 16pt;
        color: #000000;
}
.cs5{
        font-size: 12pt;
        line-height: 14pt;
        color: #000000;
}
.cs4{
        font-size: 12pt;
        line-height: 14pt;
        color: #333333;
}
.cs44{
        font-size: 12pt;
        line-height: 14pt;
        color: #FFFFFF;
}
.cs3{
        font-size: 10pt;
        line-height: 12pt;
        color: #333333;
}
.cs2{
        font-size: 9pt;
        line-height: 11pt;
        color: #333333;
}
.cs1{
        font-size: 8pt;
        line-height: 10pt;
        color: #333333;
}
.cs11{
        font-size: 8pt;
        color: #333333;
}
.cs12{
        font-size: 6pt;
        color: #333333;
}

.cs333{
        font-size: 14pt;
        font-weight: bold;
        color: #ff0000;
}

.white{
        font-size: 11pt;
        line-height: 15pt;
        color: #FFFFFF;
}

                
a:Link           { color : #333333 ; text-decoration:none }
a:visited      { color : #660000 ; text-decoration:none }
a:active       { color : #FF3300 ; text-decoration:none }
a:hover        { text-decoration ; text-decoration:underline ; color : #FF3300 }
